<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <img class="mx-auto h-12 w-auto" src="<%= image_url('hype-bot-icon.PNG') %>" alt="HypeBot Studios">
  <p class="mt-2 text-center text-sm text-gray-600">
  Or
  <a href="/users/sign_in" class="font-medium text-blue-600 hover:text-blue-500"> Sign in </a>
  </p>
</div>

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <form class="space-y-6" action="/users" method="POST" data-turbo="false">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div>
        <label for="user_email" class="block text-sm font-medium text-gray-700"> Email address </label>
        <div class="mt-1">
          <input id="user_email" name="user[email]" type="email" autofocus="autofocus" autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <div class="mt-1">
          <input id="password" name="user[password]" type="password" autocomplete="new-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
      </div>

      <div>
        <label for="password_confirmation" class="block text-sm font-medium text-gray-700">Password confirmation</label>
        <div class="mt-1">
          <input id="password_confirmation" name="user[password_confirmation]" type="password" autocomplete="new-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
      </div>

      <div>
        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
