<div class="pt-4 bg-gray-900 lg:overflow-hidden"></div>

<div>
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
      <div class="lg:py-24">
        <h1 class="mt-4 text-4xl tracking-tight font-extrabold sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
          <span class="block">About</span>
        </h1>

        <p>I very much enjoy the process of teaching developers how to build things with code.</p>

        <p>It's a great way to learn new skills and to get involved in the community.</p>

        <p>I'm always looking for new ways to help people learn to code.</p>

        <p>I'm also a huge fan of the Ruby programming language.</p>

        <p>If you're like me, you find it hard to let people know when you've made some new content</p>

        <p>HypeBot Studios is a tool for helping people share their knowledge with the world.</p>

        <p>You can generate text to help you promote your YouTube videos so that others can find them.</p>
      </div>
    </div>
  </div>
</div>
