<div class="pt-4 bg-gray-900 lg:overflow-hidden"></div>

<div class="bg-white">
  <div class="bg-gray-50">
    <!-- Header section -->
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-base font-semibold text-sky-600 uppercase tracking-wide">Pricing</h1>
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Promote your content like a champ</p>
        <p class="max-w-xl mx-auto mt-5 text-xl text-gray-500">Focus on making your content great, not on thinking of a Tweet or LinkedIn post about it.</p>
      </div>
    </div>
  </div>

  <!-- Split brand panel -->
  <div class="relative bg-white">
    <div class="absolute inset-0" aria-hidden="true">
      <div class="absolute inset-y-0 right-0 w-1/2 bg-gradient-to-r from-sky-600 to-blue-400"></div>
    </div>
    <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-2 lg:px-8">
      <div class="bg-white py-16 px-4 sm:py-24 sm:px-6 lg:px-0 lg:pr-8">
        <div class="max-w-lg mx-auto lg:mx-0">
          <h2 class="text-base font-semibold tracking-wide text-sky-600 uppercase">Full-featured</h2>
          <p class="mt-2 text-2xl font-extrabold text-gray-900 sm:text-3xl">Everything you need to write to promote a video</p>
          <dl class="mt-12 space-y-10">
            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-sky-600 to-blue-400 rounded-md flex items-center justify-center">
                  <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="24px" height="24px">
                    <path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Tweets</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Let your Twitter followers know that you've created a video and a bit about why they will love it.</dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-sky-600 to-blue-400 rounded-md flex items-center justify-center">
                  <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="24px" height="24px">
                    <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M10.496,8.403 c0.842,0,1.403,0.561,1.403,1.309c0,0.748-0.561,1.309-1.496,1.309C9.561,11.022,9,10.46,9,9.712C9,8.964,9.561,8.403,10.496,8.403z M12,20H9v-8h3V20z M22,20h-2.824v-4.372c0-1.209-0.753-1.488-1.035-1.488s-1.224,0.186-1.224,1.488c0,0.186,0,4.372,0,4.372H14v-8 h2.918v1.116C17.294,12.465,18.047,12,19.459,12C20.871,12,22,13.116,22,15.628V20z"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">LinkedIn posts</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Engage your professional network so they know why they should tune in and why you're the best.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-sky-600 to-blue-400 rounded-md flex items-center justify-center">
                  <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Blog post</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Repurposing your content has never been easier. Convert your latest video into a brief article.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-sky-600 to-blue-400 rounded-md flex items-center justify-center">
                  <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="24px" height="24px">
                    <path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.104,4,24,4z M22.689,13.474 c-0.13,0.012-0.261,0.02-0.393,0.02c-1.495,0-2.809-0.768-3.574-1.931c0,3.049,0,6.519,0,6.577c0,2.685-2.177,4.861-4.861,4.861 C11.177,23,9,20.823,9,18.139c0-2.685,2.177-4.861,4.861-4.861c0.102,0,0.201,0.009,0.3,0.015v2.396c-0.1-0.012-0.197-0.03-0.3-0.03 c-1.37,0-2.481,1.111-2.481,2.481s1.11,2.481,2.481,2.481c1.371,0,2.581-1.08,2.581-2.45c0-0.055,0.024-11.17,0.024-11.17h2.289 c0.215,2.047,1.868,3.663,3.934,3.811V13.474z"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">TikTok</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Share your video on TikTok with a HypeBot Studio caption and get more views and shares.
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="bg-gradient-to-r from-sky-600 to-blue-400 py-16 px-4 sm:py-24 sm:px-6 lg:bg-none lg:flex lg:items-center lg:justify-end lg:px-0 lg:pl-8">
        <div class="max-w-lg mx-auto w-full space-y-8 lg:mx-0">
          <div>
            <h2 class="sr-only">Price</h2>
            <p class="relative grid grid-cols-2">
            <span class="flex flex-col text-center">
              <span class="text-5xl font-extrabold text-white tracking-tight">$20</span>
              <span class="mt-2 text-base font-medium text-sky-100">Per month</span>
              <span class="sr-only">plus</span>
            </span>
            <span class="pointer-events-none absolute h-12 w-full flex items-center justify-center" aria-hidden="true">
              <!-- Heroicon name: outline/plus -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
              </svg>
            </span>
            <span>
              <span class="flex flex-col text-center">
                <span class="text-5xl font-extrabold text-white tracking-tight">$0.07</span>
                <span class="mt-2 text-base font-medium text-sky-100">Per 1k tokens</span>
              </span>
            </span>
            </p>
          </div>
          <ul role="list" class="rounded overflow-hidden grid gap-px sm:grid-cols-2">
            <li class="bg-sky-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Unlimited projects</span>
            </li>

            <li class="bg-sky-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">No per user fees</span>
            </li>

            <li class="bg-sky-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Unlimited storage</span>
            </li>

            <li class="bg-sky-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">24/7 support</span>
            </li>

            <li class="bg-sky-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Cancel any time</span>
            </li>

            <li class="bg-sky-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-sky-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">14 days free</span>
            </li>
          </ul>
          <a href="/checkout" class="w-full bg-white border border-transparent rounded-md py-4 px-8 flex items-center justify-center text-lg leading-6 font-medium text-sky-700 hover:bg-sky-50 md:px-10">
            Get started today
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo cloud -->
  <div class="bg-sky-100 bg-opacity-25">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <h2 class="max-w-md mx-auto text-3xl font-extrabold text-sky-900 text-center lg:max-w-xl lg:text-left">The world's most innovative companies use Workflow</h2>
        <div class="mt-8 flow-root lg:mt-0 self-center">
          <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
            <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
              <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-sky-900.svg" alt="Workcation">
            </div>

            <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
              <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-sky-900.svg" alt="Tuple">
            </div>

            <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
              <img class="h-12" src="https://tailwindui.com/img/logos/level-logo-sky-900.svg" alt="Level">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQs -->
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-gray-900 text-center">Frequently asked questions</h2>
    <div class="mt-12">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12 lg:grid-cols-3">
        <div>
          <dt class="text-lg leading-6 font-medium text-gray-900">What&#039;s the best thing about Switzerland?</dt>
          <dd class="mt-2 text-base text-gray-500">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-gray-900">How do you make holy water?</dt>
          <dd class="mt-2 text-base text-gray-500">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-gray-900">Why do you never see elephants hiding in trees?</dt>
          <dd class="mt-2 text-base text-gray-500">Because they&#039;re so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-gray-900">What do you call someone with no body and no nose?</dt>
          <dd class="mt-2 text-base text-gray-500">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-gray-900">Why can&#039;t you hear a pterodactyl go to the bathroom?</dt>
          <dd class="mt-2 text-base text-gray-500">Because the pee is silent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-gray-900">Why did the invisible man turn down the job offer?</dt>
          <dd class="mt-2 text-base text-gray-500">He couldn&#039;t see himself doing it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>
      </dl>
    </div>
  </div>

  <!-- CTA section -->
  <div class="bg-gradient-to-r from-sky-600 to-blue-400">
    <div class="max-w-2xl mx-auto py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block">Boost your productivity.</span>
        <span class="block text-sky-900">Start using HypeBot Studio today.</span>
      </h2>
      <p class="mt-4 text-lg leading-6 text-sky-100">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
      <a href="#" class="mt-8 w-full bg-sky-50 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-sky-700 hover:bg-sky-100 sm:w-auto"> Sign up for free </a>
    </div>
  </div>
</div>

