<div class="pt-4 bg-gray-900 lg:overflow-hidden"></div>

<div>
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
      <div class="lg:py-24">
        <h1 class="mt-4 text-4xl tracking-tight font-extrabold sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
          <span class="block">You're on the waitlist!</span>
        </h1>

        <img class="mt-4" src="https://media.giphy.com/media/SWVzkIlHdEckF81gnA/giphy.gif" alt="funny waitlist gif">
      </div>
    </div>
  </div>
</div>
