<div class="bg-white border shadow-sm px-4 py-3 rounded-lg max-w-lg font-chirp">
  <p class="text-gray-800 text-sm mt-2 leading-normal md:leading-relaxed">
    <%= suggestion.content %>
  </p>
</div>
